.main__container {
    height: 100vh;
    width: 100%;
    color: var(--vscode-editor-foreground); /* Editor foreground color */
    overflow: hidden;
}

.message__chatbox {
    height: auto;
    background-color: var(--vscode-sideBar-background); /* Editor background color */
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    scrollbar-width: thin; 
    scrollbar-color: var(--vscode-scrollbarSlider-background) var(--vscode-editor-background);
}

.message__chatbox::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.message__chatbox::-webkit-scrollbar-thumb {
    background-color: var(--vscode-scrollbarSlider-background); /* Scrollbar thumb background color */
    border-radius: 4px; /* Rounded corners for the thumb */
}

.message__chatbox::-webkit-scrollbar-thumb:hover {
    background-color: var(--vscode-scrollbarSlider-hoverBackground); /* Scrollbar thumb hover background color */
}

.message__chatbox::-webkit-scrollbar-track {
    background-color: var(--vscode-editor-background); /* Editor background color */
}

.message__chatbox::-webkit-scrollbar-button {
    width: 0 !important; 
}

