*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;

}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo img {
    width: 50px;
    height: 50px;
}

h1 {
    margin: 20px 0;
    font-size: 24px;
}

p {
    margin: 10px 0;
    font-size: 14px;
}

.instructions {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.instructions li {
    margin: 10px 0;
    font-size: 14px;
}

footer {
    padding: 10px 0;
    background-color: #515155;
    border: 1px solid #0281d6;
    border-radius: 5px;
    padding: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.input-container textarea {
    flex-grow: 1;
    padding: 10px;
    margin: 0 10px;
    border-radius: 4px;
    background-color: #515155;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
    min-height: 50px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-actions button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.input-actions button img {
    height: 20px;
    filter: invert(90%);
}

.toolbar button img {
    height: 20px;
    filter: invert(90%);
}

.model_selection span{
    font-size: 15px;
}

.model_selection button img {
    height: 10px;
    filter: invert(90%);
}

.model_selection{
    margin-right: 10px;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 5px;
}

.dropdown button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 400px) {
    h1 {
        font-size: 20px;
    }

    p, .instructions li {
        font-size: 12px;
    }

    .input-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-container textarea {
        margin: 10px 0;
    }

    .input-actions, .dropdown {
        width: 100%;
    }
}
