.footer__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column; 
    min-height: 120px; 
    height: auto; 
    position: fixed;
    bottom: 0; 
    left: 0;
    right: 0;
    background-color: #181818; 
    z-index: 10; 
    justify-content: center;
}

.footer__container {
    background-color: #313131;
    border: 1px solid #686767a1;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin: 0 auto;
    transition: border-color 0.3s ease; 
    position: relative;
}

.footer__container.focused {
    border: 1px solid #0f8cdf; /* VS Code blue */
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0; /* Start with 0 width */
    height: 3px;
    background-color: #007acc; /* Modus blue */
    box-shadow: 0 0 10px #007acc; /* Neon glow effect */
    transition: width 0.6s ease;
  }

  
.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.input-container textarea {
    flex-grow: 1;
    padding: 7px;
    border-radius: 4px;
    background-color: #313131;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
    min-height: 20px;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.input-actions{
    display: flex;
}

.input-actions button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.input-actions button img {
    height: 20px;
    filter: invert(90%);
}

.toolbar button img {
    margin: 2px;
    height: 15px;
    filter: invert(90%);
}

.toolbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.toolbar button:hover {
    background-color: #545554;
    border-radius: 3px; 
    transition: background-color 0.3s ease; 
}

.model_selection span {
    margin-right: 3px;
    font-weight: 200;
    font-size: 12px;
}

.model_selection button img {
    height: 10px;
    margin-right: 5px;
    filter: invert(90%);
}

.model_selection {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 5px;
}

.dropdown button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.file__reference img{
    margin: 3px 5px 3px 7px;
    height: 12px;
    width: 12px;
    object-fit: contain;
    background: none;
    border-radius: 0;
}

/* Default styles for file__container */
.file__container {
    padding: 4px;
    width: 100%;
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
    display: flex;
}

/* Add shadow only to the bottom */
.file__container.shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Bottom shadow only */
}

.file__reference{
    display: flex;
    align-items: center;
    font-size: 11px;
    width: max-content;
    border: 1px solid #686767a1;
    border-radius: 5px;
    margin-left: 5px;
}

.file__reference span{
    margin: 3px 5px;
}

.model_selection {
    position: relative;
  }
  
  .model_selection button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: -60px; 
    right: 0px;
    background-color: #1f1f1f;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #686767a1;
  }
  
  .dropdown-menu div {
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 5px;
    border-radius: 5px;
  }
  
  .dropdown-menu div:hover {
    background-color: #0078d4;
  }


@media (max-width: 600px) {
    .footer__container {
        width: calc(100% - 20px); 
        padding: 5px;
    }

    .input-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-container textarea {
        margin: 3px 0;
    }

    .input-actions, .dropdown {
        width: 100%;
    }
}
