.message__container {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e; /* Dark theme background */
  border: 1px solid #1e1e1e;
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #f5f5f5; /* Light text for dark theme */
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  word-wrap: break-word;
}

.message__container.focused {
  border: 1px solid #0f8cdf; /* VS Code blue */
}

/* Avatar styles */
.message__avatar {
  display: flex;
  align-items: center;
  width: auto; /* Allow the container to adjust width */
  height: 40px;
}

.username {
  margin-left: 8px;
  flex-grow: 1; /* Allow the username to take up available space */
  white-space: nowrap; /* Prevent text from wrapping */
}

.username--clicked {
  border: 1.3px solid #007acc; /* Copilot's chat border color */
}

.message__avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  border: 1px solid #555; 
}

.message__body p {
  font-size: 12px;
  margin: 0;
  color: #dcdcdc; /* Slightly lighter text for readability */
}

.message__container {
  position: relative; /* Ensure the container is positioned relative for absolute positioning */
}

.code__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.copy-icon {
  width: 16px; /* Size of the icon */
  height: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  filter: invert(1); 
}

.copy-icon:hover {
  opacity: 0.7; /* Slightly fade the icon on hover for visual feedback */
}


.code__container pre {
  margin: 0;
  background: none; 
  color: inherit; 
  font-size: 14px; 
  line-height: 1.5; 
}

.code__container{
  margin-top: 10px;
}

.message__body pre{
  border: 1px solid #555; /* Subtle border for the code block */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #555 #1e1e1e;
}

.language-label {
  font-size: 0.9em;
  font-weight: bold;
  color: #e4e2e2;
}

.invert-image {
  filter: invert(1);
}


