.message__container {
  display: flex;
  flex-direction: column;
  background-color: var(--vscode-editor-background); /* Editor background color */
  border: 1px solid var(--vscode-editor-background); /* Editor background color */
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--vscode-editor-foreground); /* Editor foreground color */
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  word-wrap: break-word;
}

.message__container.focused {
  border: 1px solid var(--vscode-focusBorder); /* Focus border color */
}

/* Avatar styles */
.message__avatar {
  display: flex;
  align-items: center;
  width: auto; /* Allow the container to adjust width */
  height: 40px;
}

.username {
  margin-left: 8px;
  flex-grow: 1; 
  white-space: nowrap; 
}

.username--clicked {
  border: 1.3px solid var(--vscode-editorCursor-foreground); 
}

.message__avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  border: 1px solid var(--vscode-editorLineNumber-foreground); 
}

.message__body p {
  font-size: 12px;
  margin: 0;
  color: var(--vscode-editor-foreground);
}

.message__container {
  position: relative; 
}

.code__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.copy-icon {
  width: 16px; 
  height: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  filter: invert(1); 
}

.copy-icon:hover {
  opacity: 0.7; 
}

.code__container pre {
  margin: 0;
  background: none; 
  color: inherit; 
  font-size: 14px; 
  line-height: 1.5; 
}

.code__container {
  margin-top: 10px;
}

.message__body pre {
  border: 1px solid var(--vscode-editorLineNumber-foreground); 
  scrollbar-width: thin; 
  scrollbar-color: var(--vscode-editorLineNumber-foreground) var(--vscode-editor-background);
}

.language-label {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--vscode-editor-foreground); 
}
